{% extends "base.html" %}

{% block title %} My Books! {% endblock %}

{% block content %}

  <h1>My books:</h1>
  {% if books %}
    <ul>
      {% for book in books %}
        <li>
          {{ book }}
          <form action="{% url 'confirm_delete' book.id %}" method="get" style="display:inline;" >
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no books.</p>
  {% endif %}

{% endblock %}
